# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment/secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Local databases
*.db
*.sqlite
*.sqlite3

# Excel/CSV temporary files
~$*
# Exported expense files
student_expenses.csv
student_expenses.xlsx